@font-face {
  font-family: "Archangelsk";
  src: url("fonts/archangelsk.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/archangelsk.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/archangelsk.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/archangelsk.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("fonts/archangelsk.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/archangelsk.svg#archangelsk")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  margin-top: 20px;
}

.hero {
  width: 100%;
  height: 1000px;
  background: url("img/11.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.container {
  max-width: 1280px;
  width: 100%;
}

.yellow-kvadrat {
  background: #f8f200;
  padding: 70px;
  width: 624px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.yellow-kvadrat span {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
}
.yellow-kvadrat a {
  display: block;
  background-color: black;
  color: #f8f200;
  padding: 19px 50px;
  width: auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
}

.yellow-kvadrat-wrapper {
  display: flex;
  justify-content: flex-end;
}

.whiteblock-wrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whiteblock {
  padding-top: 70px;
}
.whiteblock h2 {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
}
.whiteblock p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  width: 952px;
  margin-top: 25px;
  color: #777777;
}

.whiteblock p a {
  font-weight: 700;
  color: #52bedc;
  text-decoration: none;
}

.pictures3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.pictures2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.xboxps {
  background-repeat: no-repeat;
  /* height: 200px; */
  width: 100%;
  background-color: black;
  background-image: url("img/22\ 1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stockizagolovok {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.stock {
  padding-top: 85px;
}

.zagolovok h3 {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: white;
  margin-top: 140px;
  margin-left: 32px;
}

.form {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: black;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 35px;

  width: 460px;
}

.form .text-input {
  display: block;
  background-color: black;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: white;
  border: none;
  border-bottom: 1px solid #777;
  padding-bottom: 13px;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.form .text-input::placeholder {
  color: white;
  opacity: 0.5;
}

.form .text-input:focus {
  border-bottom: 1px solid #ccc;
}

.form button {
  background-color: #f8f200;
  padding: 19px 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: black;
  cursor: pointer;
}

.zadnik {
  background: url("img/Group\ 216.png");
  display: flex;
  background-size: cover;
  width: 788px;
  height: 456px;
  justify-content: flex-end;
}

.formconcole {
  display: flex;
  justify-content: space-between;
}

.probel {
  margin-left: 32px;
  width: 296px;
  height: 351px;
  margin-top: 25px;
}

.xbox {
  width: 296px;
  height: 351px;
  margin-top: 25px;
}
